@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-surface text-slate-200 antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #1e2a38 transparent;
}
